<header id="menu" class="menu">
    <a href="#/Home" id="linkHome" class="menu-item" >Home</a>
    <a href="#/Login" id="linkLogin" class="menu-item">Login</a>
    <a href="#/Register" id="linkRegister" class="menu-item">Register</a>
    <a href="#/List" id="linkListAds" class="menu-item">List Advertisements</a>
    <a href="#/Create" id="linkCreateAd" class="menu-item">Create Advertisement</a>
    <a href="#/Logout" id="linkLogout" class="menu-item">Logout</a>
    <span id="loggedInUser" class="menu-item"></span>
    <div></div>
</header>