{{> header}}
{{> menu}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form id="formSubmitChirp" class="chirp-form"  method="post">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>0 chirps</span> | <span>1 following</span> | <span>0 followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#" class="chirp-author">{{author}}</a>
                        <span class="chirp-time">1 day</span>
                    </div>
                    <p>{{text}}</p>
                </article>
            {{else}}
                <article class="chirp">
                    <p>No chirps. Follow someone!</p>
                </article>
            {{/each}}

            <!-- TODO Load more articles -->
        </div>
    </div>
</section>
{{> footer}}