<nav>
    <div class="left-container">
        <ul>
            {{#if auth}}
                <li><a href="#/home">Home</a></li>
                <li><a href="#/myFlights">Flights</a></li>
            {{else}}
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
            {{/if}}

        </ul>
    </div>

    <div class="right-container">
        {{#if auth}}
            <span>Welcome, {{username}} !</span>
            <a href="#/logout" class="log-out">Logout</a>
        {{/if}}
    </div>
</nav>